<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>VideoJJ - import a videolib</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="../index.html">VideoJJ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="../index.html">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Import new data</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="../template/import_actors.html">Actors</a></li>
                            <li><a class="dropdown-item" href="../template/import_movies.html">Movies</a></li>
                            <li><a class="dropdown-item" href="../template/import_videolib.html">Library</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Explore our data</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="../template/explore_actors.html">Actors</a></li>
                            <li><a class="dropdown-item" href="../template/explore_movies.html">Movies</a></li>
                            <li><a class="dropdown-item" href="../template/explore_videolib.html">Library</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Delete some data</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="../template/delete_actors.html">Actors</a></li>
                            <li><a class="dropdown-item" href="../template/delete_movie.html">Movies</a></li>
                            <li><a class="dropdown-item" href="../template/delete_videolib.html">Library</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page content-->
    <div class="text-center mt-5">
        <h1>Import a new videolib in our data base </h1>
        <form>
            <div class="form-group">
                <label class="label_class" for="formGroupExampleInput">Title :</label>
                <input type="text" class="form-control" id="import_title" placeholder="Ex: La nuit du 12">
            </div>
            <div class="form-group">
                <label class="label_class" for="formGroupExampleInput2">Owner :</label>
                <select id="import_owner">
                    <option value="Owner1">Owner1</option>
                    <option value="Owner2">Owner2</option>
                </select>
            </div>
            <div class="form-group">
                <span>If you don't find your name in the list, please click <a href="import_owner.html">here</a></span>
            </div>
            <div class="form-group">
                <label class="label_class" for="formGroupExampleInput2">Movies :</label>
                <select id="import_list_movies" multiple>
                    <option value="Movie1">Movie1</option>
                    <option value="Movie2">Movie2</option>
                </select>
            </div>
            <div class="form-group">
                <span>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</span>
                <span>If you don't find your movie in the list, please click <a href="import_movies.html">here</a></span>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>


    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>